

.App-header{
    background-color:#008080;
    color: #fff;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1rem;
}

.nav-link{
    text-decoration: none;

}




@media(min-width:768px){
    
}

