.main-container{
    background-color: rgb(16, 54, 16);
}

.name-title{
    color: rgb(60, 161, 60);
    margin-top: -0.7rem;
    text-decoration: none;
}

.img-logo{
    max-height: 8rem;
}

.img-trophy{
    max-height: 13rem;
    object-fit: contain;
    
}